<p id="notice"><%= notice %></p>

<h1>Wars</h1>

<table>
  <thead>
    <tr>
      <th>Enemy</th>
      <th>Our stars</th>
      <th>Enemy stars</th>
      <th>Our descruction</th>
      <th>Enemy descruction</th>
      <th>End result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wars.each do |war| %>
      <tr>
        <td><%= war.enemy %></td>
        <td><%= war.our_stars %></td>
        <td><%= war.enemy_stars %></td>
        <td><%= war.our_descruction %></td>
        <td><%= war.enemy_descruction %></td>
        <td><%= war.end_result %></td>
        <td><%= link_to 'Show', war %></td>
        <td><%= link_to 'Edit', edit_war_path(war) %></td>
        <td><%= link_to 'Destroy', war, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New War', new_war_path %>
